body
{
  font-family: Bahnschrift,Calibri;
}
#entete
{
  text-align: center;
}
#contenu
{
  position: relative;
  margin: 0 auto;
  top: -100px;
  padding: 10px;
  border-radius: 30px;
  width: 450px;
  height: 300px;
  background-color: lightgray;
}
#contenu h2
{
  font-size: 22px;
}
#idfrais
{
  position : relative;
  float: right;
  right: 118px;
}
#ok,#annuler,#ajouter,#effacer
{
  cursor: pointer;
  border: 2px solid #0761BB;
  border-radius: 20px;
  background-color: #469FF8;
  transition-duration: 0.2s;
  width: 180px;
  height: 23px;
}
#ok:hover,#annuler:hover,#ajouter:hover,#effacer:hover
{
  background-color: #377CC1;
  transition-duration: 0.2s;
  font-size: 13.8px;
}
#contenu h2
{
  text-align: center;
}
#boitequifaitchier
{
  position:relative;
  top:30px;
  width:50px;
}
.listeLegere caption
{
  position:relative;
  width:460px;
}
.piedForm
{
  width:450px;
}
/* --------------------------Code comptable----------------------------- */
#boite_choix_visiteur
{
  background-color: lightgray;
  width: 200px;
  height: 90px;
  margin-left: 30px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
#boite_choix_visiteur:hover
{
  background-color: #b9b9b9;
}

#boite_choix_visiteur select
{
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.6s;
}
#boite_choix_visiteur select:hover
{
  width: 155px;
  height: 33px;
  border-radius: 6px;
  transition-duration: 0.4s;
  border: 3px solid red;
}


#boite_choix_visiteur label
{
  font-size: 20px;
}

#boite_choix_visiteur input
{
  display: block;
  width: 150px;
  height: 30px;
  margin: 10 auto;
  top: 10px;
  cursor: pointer;
  border: 2px solid #0761BB;
  border-radius: 20px;
  background-color: #469FF8;
  transition-duration: 0.5s;
  font-size: 13px;
}

#boite_choix_visiteur input:hover
{
  border: 4px solid #0761BB;
  border-radius: 5px;
  background-color: #26A6FB;
  font-size: 15px;
  transition-duration: 0.5s;
}

#version
{
  position: relative;
  text-align: center;
  bottom: 5px;
}

#validerFiche
{
  position: relative;
  left: 300px;
  width: 950px;
  background-color: #5183be;
  height: 200px;
  top: -350px;
  text-align: center;
  padding-top: 20px;
  border-radius: 8px;
  transition-duration: 0.2s;
}
#validerFiche:hover
{
  background-color: #356bad;
  transition-duration: 0.2s;
}
#validerFiche input
{
  position: relative;
  top: 90px;
  width: 400px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #1D6D0C;
  border-radius: 20px;
  background-color: #61DB47;
  transition-duration: 0.5s;
  font-size: 13px;
}
#validerFiche input:hover
{
  border: 4px solid #F71717;
  border-radius: 5px;
  background-color: #FF9191;
  font-size: 15px;
  transition-duration: 0.5s;
  width: 405px;
  height: 35px;
}
#validerFiche label
{
  font-size: 20px;
  font-weight: bold;
}

#montantValiderText
{
  position: relative;
  top: 50px;
}