body
{
  font-family: Bahnschrift,Calibri;
}
#entete
{
  text-align: center;
}
#contenu
{
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
  width: 300px;
  height: 320px;
  background-color: lightgray;
}
#contenu h2
{
  text-align: center;
}
#boutonconnexion
{
  position: relative;
  text-align: center;
  top: 30px;
  width: 100%;
  
}
#boutonconnexion input
{
  width: 300px;
  height: 40px;
  cursor: pointer;
  border: 2px solid #0761BB;
  border-radius: 20px;
  background-color: #469FF8;
}

#boutonconnexion input:hover
{
  border: 4px solid #0761BB;
  border-radius: 7px;
  background-color: #26A6FB;
}

#version
{
  position: relative;
  text-align: center;
  bottom: 5px;
}

